
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-panel-wrap">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<div class="logo-title">Скважина <span class="logo-subtitle">в дом</span></div>
					</a>
				</div>
				<div class="info-wrap">
					<p>Наша специализация - ремонт, очистка, обустройство скважин, замена скважинных насосов</p>
					<p>ИП Григоржевский Евгений Владимирович</p>
				</div>
				<div class="info-wrap">
					<p>© 2025 Скважина дом</p>
					<p><a href="">Карта сайта</a></p>
					<p><a href="">Политика конфиденциальности</a></p>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Навигация</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Галерея</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Полезные советы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Цены</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Услуги</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Замена насоса в скважине</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Ремонт скважин</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Очистка скважин</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Извлечение застрявшего насоса</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Обустройство скважин</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Обслуживание скважин</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Ремонт скважин на воду зимой</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Ремонт кессона</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Диагностика скважин</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-inner-wrap">
				<div class="soc-wrap">
					<div class="footer-title">Соц. сети и мессенджеры</div>
					<p>Мы круглосуточно отвечаем в наших социальных сетях и мессенджерах</p>
					<div class="soc-items">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
					</div>
				</div>
				<div class="contacts-wrap">
					<div class="cnt-wrap">
						<div class="elm-ico">
							<img src="./img/icons/cnt-phone.svg" alt="">
						</div>
						<div class="cnt-title">Звоните</div>
						<div class="cnt-info"><a href="tel:89771730221">+7 (977) 173-02-21</a></div>
					</div>
					<div class="cnt-wrap">
						<div class="elm-ico">
							<img src="./img/icons/cnt-email.svg" alt="">
						</div>
						<div class="cnt-title">E-mail </div>
						<div class="cnt-info"><a href="mailto:aqua-dynamics@yandex.ru" class="link-main">aqua-dynamics@yandex.ru</a></div>
					</div>
					<div class="cnt-wrap">
						<div class="elm-ico">
							<img src="./img/icons/cnt-location.svg" alt="">
						</div>
						<div class="cnt-title">Адрес нашей компании</div>
						<div class="cnt-info">г. Лобня, ул Текстильная 18</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Заказать звонок</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, harum!</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" placeholder="Ваше имя" class="form-input">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="tel" placeholder="Ваш телефон" class="form-input">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						Нажимая на кнопку «Зарегистрироваться», вы соглашаетесь с <a href="" class="link-main">политикой конфиденциальности</a> <a href="" class="link-main">пользовательским соглашением</a>
					</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->