
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-title">Скважина <span class="logo-subtitle">в дом</span></div>
			</a>
		</div>
		<div class="soc-mobile-wrap">
			<a href="tel:89771730221" class="btn-action-ico button-soc">
				<img src="./img/icons/phone.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc01.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc02.svg" alt="">
			</a>
		</div>
		<div class="menu-main-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Галерея</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Полезные советы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Цены</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="actions-inner-wrap">
					<div class="phone-wrap">
						<a href="tel:89771730221" class="link-phone"><span class="pre">+7 (977)</span> 173-02-21</a>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn">
							<div class="button-title">Оставить заявку</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->